# copy this file to 'settings' and edit it as you please

# use local installation sources
$repository{'base'}->{'url'} = "/srv/ftp/pub/pub/linux/fedora/linux/core/6/x86_64/os";
$repository{'base_update'}->{'url'} = "/srv/ftp/pub/linux/fedora/linux/core/updates/6/x86_64/";

# Add a new selection:
# $selection{'my-kde'} = "$selection{default}
# foo
# bar";
