# this file defines the filter rules used when exporting a vendor-OS
# of this distro
#
# copy this file to 'export-filter' and add your own filters to it
# in order to overrule the filters provided by openslx
#
#Examples:
#     the following line would include anything below /var/spool/
#+ /var/spool/*
#
#     this would exclude anything in /etc that starts with dhcpd.conf
#- /etc/dhcpd.conf*
#
#     and this would exclude all rpmnew-files:
#- *.rpmnew
