#add your own filters to this file and rename it to 'exclude-filter.local'
#in order to overrule the filters provided by openslx
#
#Examples:
#     the following line would include anything below /var/spool/
#+ /var/spool/*
#
#     this would exclude anything in /etc that starts with dhcpd.conf
#- /etc/dhcpd.conf*
#
#     and this would exclude all rpmnew-files:
#- *.rpmnew
