# copy this file to 'settings' and edit it as you please

# use local installation sources
$repository{'base'}->{'url'} = "/srv/ftp/pub/opensuse/distribution/10.2/repo/oss";
$repository{'base_non-oss'}->{'url'} = "/srv/ftp/pub/opensuse/distribution/10.2/repo/non-oss";
$repository{'base_update'}->{'url'} = "/srv/ftp/pub/suse/update/10.2";

# Add a new selection:
# $selection{'my-kde'} = "$selection{default}
# foo
# bar";
