p {
 font-family: Arial;
 font-size: 10pt;
 color: #000000;
}
a:link {
 color: #006BB6;
 text-decoration:none;
}
a:visited {
 color: #006BB6;
 text-decoration:none;
}
a:hover {
 color: #006BB6;
 text-decoration:underline;
}
a:active {
 color: #B9D9F0;
 text-decoration:underline;
}
body {
 font-family: Arial;
 font-size: 10pt;
 color: #000000;
 background-color: #FFFFFF;
 margin-top:0px;
 margin-left:0px;
}
h1 {
 font-family: Arial;
 font-size: 25pt;
 font-weight: bold;
 color: #000000;
}
h2 {
 font-family: Arial;
 font-size: 15pt;
 font-weight: bold;
 color: #000000;
}
h3 {
 font-family: Arial;
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
h4 {
 font-family: Arial;
 font-size: 10pt;
 font-weight: bold;
 color: #000000;
}
.font_object {
 font-family: Arial;
 font-weight: bold;
 color: #505050;
}
.balken {
 font-family: Arial;
 font-size: 12pt;
 font-weight: bold;
 color: #FFFFFF;
 background-color: #006BB6;
}
.balken_mit_pd {
 font-family: Arial;
 font-size: 12pt;
 font-weight: bold;
 color: #FFFFFF;
 background-color: #006BB6;
 padding: 5;
}
.balken_kl {
 font-family: Arial;
 font-size: 10pt;
 color: #FFFFFF;
 background-color: #006BB6;
}
.small_loginform_field {
 font-family: Arial;
 font-size: 8pt;
 color: #000000;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 background-color: #C0C0C0;
}
.small_loginform_button {
 font-family: Arial;
 font-size: 8pt;
 width: 60px;
 color: #FFFFFF;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 background-color: #880000;
}
.small_loginform_text {
 font-family: Arial;
 font-size: 8pt;
 color: #000000;
}
.small_form_selectbox {
 font-family: Arial;
 font-size: 10pt;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 width: 150;
 padding-left: 10px;
 margin: 5px;
}
.medium_form_field {
 font-family: Arial;
 font-size: 10pt;
 color: #000000;
 padding-left: 5px;
 border-style: solid; 
 border-width: 1px 1px;
 border-color: #000000;
 background-color: #FFFFFF;
 margin: 5px;
}
.medium_form_field_err {
 font-family: Arial;
 font-size: 10pt;
 color: #000000;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 background-color: #FFFFFF;
}
.medium_form_button {
 font-family: Arial;
 font-size: 10pt;
 color: #FFFFFF;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 background-color: #600000;
 width: 50px;
}
.medium_form_text {
 font-family: Arial;
 font-size: 10pt;
 color: #000000;
}
.medium_form_checkbox {
 font-family: Arial;
 font-size: 10pt;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
}
.medium_form_selectbox {
 font-family: Arial;
 font-size: 10pt;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 width: 300;
 padding-left: 10px;
 margin: 5px;
}
.tftp_form_selectbox {
 font-family: Arial;
 font-size: 10pt;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 width: 250;
 padding-left: 10px;
 margin: 5px;
}
.rootfs_form_selectbox {
 font-family: Arial;
 font-size: 10pt;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 width: 250;
 padding-left: 5px;
 margin: 5px;
}
.tiny_form_selectbox {
 font-family: Arial;
 font-size: 10pt;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 width: 80;
 padding-left: 10px;
 margin: 5px;
}
.large_form_selectbox {
 font-family: Arial;
 font-size: 10pt;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #000000;
 width: 430;
 padding-left: 10px;
 margin: 5px;
}

.tabellen_platzhalter{
 font-size: 0pt;
}
.standard_schrift {
 font-family: Arial;
 font-size: 10pt;
 color: #FFFFFF;
}
.tabellenzeile_hell {
 background-color: #E7F5FE;
}
.tabellenzeile_dunkel {
 background-color: #B9D9F0;
}
.warnung {
 color: #C40000;
}
.Textfeld {
 font-family: Arial;
 font-size: 10pt;
 color: #000000;
 border-style: solid;
 border-width: 1px 1px;
 border-color: #006BB6;
 background-color: #E7F5FE;
}
.tab_h {
 border-color: black;
 border-style: solid; 
 border-width: 0px 0px 3px 0px;
}
.tab_d {
 border-color: black;
 border-style: solid;
 border-width: 0px 0px 1px 0px;
}
.tab_d_ohne {
 border-color: black;
 border-style: solid;
 border-width: 0px 0px 0px 0px;
}
.headerlink:link {
 color: #000000;
 text-decoration:underline;
}
.headerlink:visited {
 color: #000000;
 text-decoration:underline;
}
.headerlink:hover {
 color: #505050;
 text-decoration:none;
}
.headerlink:active {
 color: #505050;
 text-decoration:underline;
}
.publink:link {
 color: #001B56;
 text-decoration:none;
}
.publink:visited {
 color: #001B56;
 text-decoration:none;
}
.publink:hover {
 color: #001B56;
 text-decoration:underline;
}
.publink:active {
 color: #B9D9F0;
 text-decoration:underline;
}
.publink_leit:link {
 color: #FFFFDF;
 text-decoration:none;
}
.publink_leit:visited {
 color: #FFFFDF;
 text-decoration:none;
}
.publink_leit:hover {
 color: #FFFFDF;
 text-decoration:underline;
}
.publink_leit:active {
 color: #FFFFDF;
 text-decoration:underline;
}
.maillink:link {
 color: #001B56;
 text-decoration:none;
}
.maillink:visited {
 color: #001B56;
 text-decoration:none;
}
.maillink:hover {
 color: #001B56;
 text-decoration:underline;
}
.maillink:active {
 color: #B9D9F0;
 text-decoration:underline;
}
.formlink:link {
 color: #FFFFFF;
 text-decoration:none;
}
.formlink:visited {
 color: #FFFFFF;
 text-decoration:none;
}
.formlink:hover {
 color: #FFFFFF;
 text-decoration:none;
}
.formlink:active {
 color: #FFFFFF;
 text-decoration:none;
}
.no_size {
 font-family: Arial;
 font-size: 1pt;
}