# rename this file to 'settings' and edit it as you please
# 
# for a list of all options, have a look at the corresponding 
# settings.default in /opt/openslx/share/distro-info

# use local installation source
#<repository base>
#    local-url = /srv/ftp/pub/pub/linux/fedora/linux/core/6/i386/os
#</repository>
#<repository base_update>
#    local-url = /srv/ftp/pub/linux/fedora/linux/core/updates/6/i386
#</repository>

# add a new selection:
#<selection my_kde>
#	base = kde
#	packages = <<END
#		kinternet
#	END
