# use local installation sources
$repository{'base'}->{'url'} = "local://localhost:5080/srv/ftp/pub/opensuse/distribution/SL-10.1/inst-source";
$repository{'base_update'}->{'url'} = "local://localhost:5082/srv/ftp/pub/suse/update/10.1";

# Add a new selection:
# $selection{'my-kde'} = "$selection{default}
# foo
# bar";
