# Settings made here overwrite values from the settings file in the same
# directory.
# It's also possible to define addditional values here.

# Use a local installation source.
SLX_INST_SOURCE_BASEURL_suse93="http://ftp-1.gwdg.de/pub/suse/install/9.3"
SLX_INST_SOURCE_BASEURL_suse93update="http://ftp-1.gwdg.de/pub/suse/update/9.3"

# Add more packages.
# It's possible to habe more than one SLX_INSTALL_PACKAGES_* variable defined.
# All SLX_INSTALL_PACKAGES_* are combined to one package list which is
# in one step.
SLX_INSTALL_PACKAGES_EDITORS="vim emacs"
SLX_INSTALL_PACKAGES_KDEPIM="kdepim3"
