# rename this file to 'settings' and edit it as you please
# 
# for a list of all options, have a look at the corresponding 
# settings.default in /opt/openslx/share/distro-info

# use local installation source
#<repository base>
#    local-url = /srv/ftp/pub/ubuntu
#</repository>
#<repository base_updates>
#    local-url = /srv/ftp/pub/ubuntu
#</repository>
#<repository base_security>
#    local-url = /srv/ftp/pub/ubuntu
#</repository>

# add a new selection:
#<selection my_kde>
#	base = kde
#	packages = <<END
#		kinternet
#	END
