[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Type=XSession
Exec=vmware-image
TryExec=/var/X11R6/bin/vmware-image
Name=My VMware Image
Comment=NEW VMware Image with this and that
SLXGrp=default
XDM=false
# Dies ist ein Template für .desktop-Dateien, deren VMware-Images über kdm bzw.
# runvmware-interactive-mode gestartet werden sollen. Diese Dateien müssen in 
# .../vmware/vmsessions liegen.
# Bei VMware-Images die auch unter XDM angezeigt werden sollen, muss zudem die Variable
# XDM auf 'true' gesetzt werden.
