# Use local installation sources.
# $repository{base}->{url} = "ftp://localhost/pub/opensuse/distribution/10.2/repo/oss";
# $repository{base_update}->{url} = "ftp://localhost/pub/suse/update/10.2";

# Add a new selection:
# $selection{'my-kde'} = "$selection{default}
# foo
# bar";
