# Apparently this is not really a .desktop file like the rest, but it's useful
# to treat it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=openslx.xml
Name=openslx
Description=OpenSLX Theme based on Daemonic KDM theme for FreeBSD
Author=aceph <aceph@ventcore.net> and openslx.org
Copyright=Creative Commons
Screenshot=screenshot.png