<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- This is the ldap section -->
  <ldap_server>132.230.4.xx</ldap_server>
  
  <ldap_port>9009</ldap_port>
  
  <ldap_user>cn=admin</ldap_user>
  
  <ldap_password>hackme</ldap_password>
  
  
  
  <!-- This is the ssh section -->
  
  <!-- here you have the choice between public key and password authentication --> 
  <ssh_auth_method>publickey|password</ssh_auth_method>
  
  <ssh_private_key>/home/user/.ssh/id_rsa</ssh_private_key>
  
  <ssh_public_key>/home/usr/.ssh/id_rsa.pub</ssh_public_key>
  
  <ssh_username>root</ssh_username>
  
  <ssh_password>hackme</ssh_password>
  
  <!-- This is the TFTP section -->
  
  <tftp_root_dir>/var/lib/tftpboot/</tftp_root_dir>
  
  
  <log_level>info</log_level>
  
  
  <!-- This section contains various times and timeouts -->
  
  <ssh_init_time>60</ssh_init_time>
  <wakeup_time>60</wakeup_time>
  <ping_timeout>15</ping_timeout>
  <shutdown_time>60</shutdown_time>
  <warn_time>600</warn_time>
  <warn_interval>60</warn_interval>
  <ping_interval>30</ping_interval>
  <ssh_interval>30</ssh_interval>
  
</configuration>
