DEFAULT 1.2.3.4::/pxe/vesamenu.c32
MENU BACKGROUND 1.2.4.4::/pxe/slx-splash.png

PROMPT 0
NOESCAPE 1
TIMEOUT 100
TOTALTIMEOUT 3000
MENU WIDTH 78
MENU MARGIN 9
MENU PASSWORDMARGIN 9
MENU ROWS 12
MENU TABMSGROW 18
MENU CMDLINEROW 18
MENU ENDROW -1
MENU PASSWORDROW 18
MENU TIMEOUTROW 18
MENU HELPMSGROW 18
MENU HELPMSGENDROW -1
MENU HSHIFT 0
MENU VSHIFT 5

menu color screen 37;40 #80ffffff #00000000 std
menu color border 37;40 #40000000 #ff3e5d72 std
menu color title 1;37;40 #ffff8b00 #ff3e5d72 std
menu color unsel 37;40 #fff0f0f0 #ff3e5d72 std
menu color hotkey 1;37;40 #ffff8b00 #ff3e5d72 std
menu color sel 7;37;40 #ff1c2a33 #667799bb all
menu color hotsel 1;7;37;40 #ffff8b00 #667799bb all
menu color scrollbar 37;40 #40000000 #ee000000 std
menu color tabmsg 37;40 #ffff8b00 #ff3e5d72 std
menu color cmdmark 1;37;40 #ffff8b00 #ff3e5d72 std
menu color cmdline 37;40 #fff0f0f0 #ff3e5d72 std
menu color pwdborder 37;40 #40000000 #ff3e5d72 std
menu color pwdheader 37;40 #ffff8b00 #ff3e5d72 std
menu color pwdentry 37;40 #ffff8b00 #ff3e5d72 std
menu color timeout_msg 37;40 #ff1c2a33 #00000000 none
menu color timeout 1;37;40 #ffff8b00 #00000000 std
menu color help 37;40 #ff1c2a33 #00000000 none
menu color msg07 37;40 #90ffffff #00000000 std

MENU MASTER PASSWD secret
MENU PASSPROMPT Gesicherter Bereich, bitte Passwort eingeben:
MENU AUTOBOOT Auswahl startet in # Sekunden

MENU TITLE OpenSLX - Hauptmenue

#####
LABEL Bitte waehlen Sie ueber die Pfeiltasten aus:
    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default

LABEL ________________________________________________________
    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default
#####

LABEL default             # Starte Namen Reihe 27
    MENU LABEL Beenden :  ^Computer ausschalten
    MENU DEFAULT
    KERNEL 1.2.3.4::/pxe/atxoff.com

#####
LABEL
    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default
#####

LABEL test1
    MENU LABEL Starte  :  ^Testeintrag Nr. 1

    TEXT HELP # Bereich: Reihe 10 - 69
         Hier kann ein Hilfeintrag stehen welcher z.B. die Besonder-
         heit einer Umgebung beschreibt. Es sind mehrere Zeilen
         moeglich (6). Bitte Bereich Reihe 10 - 69 verwenden.
         Zeilen:
         5
         6
    ENDTEXT

    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default

LABEL test2
    MENU LABEL Starte  :  Testeintrag ^Nr. 2

    TEXT HELP # Bereich: Reihe 10 - 69
         Hilfe 2
    ENDTEXT

    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default

#####
LABEL ________________________________________________________
    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default
LABEL Weiterfuehrende Menues:
LABEL
    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default
#####

LABEL menu
    MENU LABEL Menue   :  -> ^Weiteres Untermenue
    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default

#####
LABEL ________________________________________________________
    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default
#####

LABEL hilfe
    MENU LABEL Hilfe   :  ^H + Enter | Auswahl ueber Pfeiltasten + Enter
    KERNEL 1.2.3.4::/pxe/vesamenu.c32
    APPEND 1.2.3.4::/pxe/pxelinux.cfg/default

