[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Type=XSession
Exec=kursimages
TryExec=/var/X11R6/bin/kursimages
Name=Weitere Kursimages
Comment=Windows und Linux VMware Images
