[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Type=XSession
Exec=vmmenu
TryExec=/var/X11R6/bin/vmmenu
Name=Weitere VMware-Images
Comment=Menü mit VMware-Images starten
# VMware Images die auch unter kdm angezeigt werden sollen müssen nach
# .../vmsessions/kdm kopiert werden. Falls nicht alle Images unter .../kdm
# landen, können alle images noch über diese .desktop-Datei angezeigt werden.
# Der KDM Menüpunkt heißt wie unter NAme= definiert und startet Xdialog mit
# allen VMware-Images.
